{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="#ffa500">-->    
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" type="text/css" href="{% static '.\bootstrap-4.3.1-dist\css\bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="{% static '.\bootstrap-4.3.1-dist\js\bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './matricula.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './erro.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './fontawesome/fontawesome-free-5.10.2-web/css/all.css' %}">

    <link rel="shortcut icon" href="{% static 'imagens/cursinho.ico' %}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand"><img src="{% static './imagens/logo_branca.png' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a href="{% url 'index' %}#inicio" class="nav-item nav-link link-inicio">Início</a>
                <a href="{% url 'index' %}#quemsomos" class="nav-item nav-link link-quem-somos">Quem Somos</a>
                <a href="{% url 'index' %}#equipe" class="nav-item nav-link link-equipe">Equipe</a>
                <a href="{% url 'index' %}#curso" class="nav-item nav-link link-curso">Cursos</a>
                <a href="{% url 'index' %}#aprovados" class="nav-item nav-link link-aprovados">Aprovados</a>
                <a href="{% url 'index' %}#parceiros" class="nav-item nav-link link-parceiros">Parceiros</a>
                <a href="{% url 'index' %}#contato" class="nav-item nav-link link-contato">Fale Conosco</a>
            </div>
          </div>

          

    </nav>
    <section id="main-erro">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>404</h1>
                    <img src="{% static './imagens/erro_book.png' %}" alt="" id="book">
                    <p>ops<img src=""> A página que você está procurando não existe.</p>
                    <a href="{% url 'index' %}"> Voltar para o início</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img  class="logo_footer lazyload" data-src="{% static './imagens/logo_footer.png' %}" alt="Logo Cursinho Potengi">
                </div>
                <div class="col-sm nav-footer">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}#inicio" class="link-inicio">INÍCIO</a></li>
                        <li><a href="{% url 'index' %}#quemsomos" class="link-quem-somos">QUEM SOMOS</a></li>
                        <li><a href="{% url 'index' %}#equipe" class="link-equipe">EQUIPE</a></li>
                        <li><a href="{% url 'index' %}#curso" class="link-curso">CURSOS</a></li>
                        <li><a href="{% url 'index' %}#aprovados" class="link-aprovados">APROVADOS</a></li>
                        <li><a href="{% url 'index' %}#parceiros" class="link-parceiros">PARCEIROS</a></li>
                        <li><a href="{% url 'index' %}#contato" class="link-contato">FALE CONOSCO</a></li> 
                    </ul>
                </nav>
                </div>
                <div class="col-sm">
                    <h6>CENTRAL DE ATENDIMENTO</h6>
                    <p>{{contatos.telefone1}}</p>
                    <p>{{contatos.telefone2}}</p>
                </div>
                <div class="col-sm icone">
                    <a title="instagram" href="{{ contatos.instagram }}" target="_blank" rel="noopener"><i
                        class="fab fa-instagram"></i></a>
                    <a title="facebook" href="{{ contatos.facebook }}" target="_blank" rel="noopener"><i
                        class="fab fa-facebook-square"></i></a>
                    <a title="whatsapp" href="{{ contatos.whatsapp }}" target="_blank" rel="noopener"><i
                        class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="desenvolvido">
            <div class="row d-block">
                <p> Cursinho Potengi &copy; 2019 | Desenvolvido pela <a href="http://www.ejectufrn.com.br/" target="_blank" rel="noopener"><img data-src="{% static './imagens/eject_footer.png' %}" class="lazyload" alt="Logo da EJECT"> <strong>EJECT</strong></a></p>
            </div>
        </div>
    </footer>
    
    <a id="Topo" class="link-inicio"><img src="{% static './imagens/topo.png' %}"></a>     
    
    <script async type="text/javascript" src="{% static 'slick/slick.min.js' %}"> </script>
    <script async type="text/javascript" src="{% static './functions.js' %}" ></script>
    <script async type="text/javascript" src="{% static 'lazysizes.min.js' %}"></script>
</body>
</html>