<p><strong>INFORMAÇÕES DO ALUNO</strong></p><br>
<p><strong>Nome do aluno:</strong> {{ nome_aluno }}</p>
<p><strong>Endereço do Aluno:</strong> {{ endereco }}</p>
<p><strong>Telefone do aluno:</strong> {{ telefone_aluno }}</p>
<p><strong>E-mail do aluno:</strong> {{ email_aluno }}</p>
<p><strong>Escola atual:</strong> {{ escola }}</p>
<p><strong>Ano atual:</strong> {{ periodo }}</p>
<p><strong>Curso:</strong> {{ curso }}</p>
<p><strong>RG do aluno:</strong> {{ rg_aluno }}</p>
<p><strong>CPF do aluno:</strong> {{ cpf_aluno }}</p>
<p><strong>Indicação:</strong> {{ indicacao }}</p>
<p><strong>Tamanho da camisa:</strong> {{ blusa }}</p>
<br><p><strong>INFORMAÇÕES DO RESPONSÁVEL FINANCEIRO</strong></p><br>
<p><strong>Nome do responsável:</strong> {{ nome_responsavel }}</p>
<p><strong>Telefone do responsável:</strong> {{ telefone_responsavel }}</p>
<p><strong>RG do responsável:</strong> {{ rg_responsavel }}</p>
<p><strong>CPF do responsável:</strong> {{ cpf_responsavel }}</p>