<p><strong>INFORMAÇÕES DO ALUNO</strong></p><br>
<p><strong>Nome do aluno:</strong> {{ nome_aluno }}</p>
<p><strong>Data de nascimento:</strong> {{ data_nascimento}}</p>
<p><strong>Nome do Pai:</strong> {{ nome_pai }}</p>
<p><strong>Nome da Mãe:</strong> {{ nome_mae }}</p>
<p><strong>Telefone do Pai:</strong> {{ telefone_pai }}</p>
<p><strong>Telefone da Mae:</strong> {{ telefone_mae }}</p>
<p><strong>Endereço do Aluno:</strong> {{ endereco }}</p>
<p><strong>Telefone do aluno:</strong> {{ telefone_aluno }}</p>
<p><strong>Tem whatsapp:</strong> {{ tem_whatsapp }}</p>
<p><strong>E-mail do aluno:</strong> {{ email_aluno }}</p>
<p><strong>Escola atual:</strong> {{ escola }}</p>
<p><strong>Série de ensino:</strong> {{ periodo }}</p>
<p><strong>Curso:</strong> {{ curso }}</p>
<p><strong>RG do aluno:</strong> {{ rg_aluno }}</p>
<p><strong>CPF do aluno:</strong> {{ cpf_aluno }}</p>
<p><strong>Indicação:</strong> {{ indicacao }}</p>
<p><strong>Tamanho da camisa:</strong> {{ blusa }}</p>

<br><p><strong>INFORMAÇÕES DO RESPONSÁVEL FINANCEIRO</strong></p><br>
<p><strong>Nome do responsável:</strong> {{ nome_responsavel }}</p>
<p><strong>Telefone do responsável:</strong> {{ telefone_responsavel }}</p>
<p><strong>Tem whatsapp:</strong> {{ tem_whatsapp_responsavel }}</p>
<p><strong>Email do responsável:</strong> {{ email_responsavel }}</p>
<p><strong>RG do responsável:</strong> {{ rg_responsavel }}</p>
<p><strong>CPF do responsável:</strong> {{ cpf_responsavel }}</p>
<p><strong>Endereço do responsável:</strong> {{ endereco_responsavel }}</p>